@import url("https://api.fontshare.com/v2/css?f[]=gambarino@400&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=general-sans@300,400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ul,
  ol {
    list-style: revert;
    padding-left: 1rem;
  }
}

.ProseMirror {
  padding-bottom: 3rem;
}
.ProseMirror:focus {
  outline: none !important;
}

/* For small screen sizes (e.g., mobile) */
@media screen and (max-width: 640px) {
  .ProseMirror img {
    padding-block: 1rem !important;
  }
  .ProseMirror h1 {
    font-size: 19px;
    font-weight: bold;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
  }
  .ProseMirror h2 {
    font-size: 16px;
    font-weight: bold;
    margin-block: 1rem;
  }

  .ProseMirror p {
    font-size: 14px;
    margin-block: 1em;
  }
}

/* For medium screen sizes (e.g., tablets) */
@media screen and (min-width: 641px) {
  .ProseMirror img {
    padding-block: 0.7rem !important;
  }
  .ProseMirror h1 {
    font-size: 21px;
    font-weight: bold;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
  }
  .ProseMirror h2 {
    font-size: 18px;
    font-weight: bold;
    margin-block: 1rem;
  }

  .ProseMirror p {
    font-size: 16px;
    margin-block: 1em;
  }

  .ProseMirror ol,
  .ProseMirror ul {
    margin-block: 0.3em;
  }
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.placeholderimage {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  background-image: linear-gradient(
    90deg,
    rgba(192, 192, 192, 0.2) 0,
    rgba(192, 192, 192, 0.5) 50%,
    rgba(192, 192, 192, 0.2) 100%
  );
  background-size: 800px 100%;
  background-repeat: no-repeat;
  animation: shimmer 1.5s infinite linear;
}

* {
  font-family: "General Sans", sans-serif;
}

blockquote {
  border-left: 3px solid #1a1a1a;
  color: #333;
  font-family: "Gambarino", serif;
  font-size: 1.25rem;
  font-style: italic;
  margin: 2rem 0;
  padding-left: 1.5rem;
}

blockquote p {
  font-family: "Gambarino", serif !important;
  line-height: 1.5;
  margin-bottom: 1rem;
}
